<!-- seller sign up -->
<div *ngIf="!loggedin">
    <h1>Seller Sign Up</h1>
    <form [formGroup]="signupform" (ngSubmit)="signsubmit(signupform.value)">
        <input type="text" placeholder="Enetr Name" formControlName="name" /><br />
        <input type="email" placeholder="Enetr Email" formControlName="email" /><br />
        <input type="password" placeholder="Enetr Password" formControlName="password" /><br />
        <button>Signup</button>
        <p><a (click)="logingo()">Already have an Account ?</a></p>
    </form>
</div>

<!-- seller login -->
<div *ngIf="loggedin">
    <h1>Seller Login</h1>
<p>{{displayerror}}</p>
    <form [formGroup]="loginform" (ngSubmit)="loginsubmit(loginform.value)">
        <input type="email" placeholder="Enetr Email" formControlName="email" /><br />
        <input type="password" placeholder="Enetr Password" formControlName="password" /><br />
        <button>Login</button>
        <p><a (click)="signupgo()">Create An Account</a></p>
    </form>
</div>
<br /><br />
<!-- home button -->
<button routerLink="/">Home Button</button>